/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --text-color: var(--color-pink-2, #F1B2CE);
  --brand-color: var(--color-purple-1, #DB00FF);
  --secondary-color: var(--color-purple-2, #FF0070);
  --secondary-color-o-40: var(--color-purple-2-o-40, #ff007040);
  --accent-color: var(--color--purple-2, #FF0070);

  --highlight-color: var(--color-black-1, #000028);
  --page-background-color: var(--accent-color, #000028);
  --page-background-image: url("../images/cover-image-dark.png");

  --rec-decor-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--color-pink-2, #F1B2CE);
    --brand-color: var(--color-purple-1, #DB00FF);
    --secondary-color: var(--color-purple-2, #FF0070);
    --secondary-color-o-40: var(--color-purple-2-o-40, #ff007040);
    --accent-color: var(--color-purple-2, #FF0070);
    --highlight-color: var(--color-black-1, #000028);

    --page-background-color: var(--color-black-1, #000028);
    --page-background-image: url("../images/cover-image-dark.png");

    --rec-decor-visibility: visible;
  }
}
