/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color,#F1B2CE);
  background-color: var(--page-background-color,#000028);
  background-attachment: fixed;
  background-image: var(--page-background-image,url("../images/cover-image.png"));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
.cover {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
}

.header {
  align-items: start;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--secondary-color, #FF0070);
  border-block-start: 1px solid var(--secondary-color, #FF0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  position: absolute;
  content: "";
  z-index:-1;
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: 1px solid var(--secondary-color, #FF0070);
  border-block-end: 1px solid var(--secondary-color, #FF0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.rec-decor {
  position: absolute;
  display: inline-flex;
  align-items: center;
  font-family: IBM Plex Mono, monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  z-index: -1;
  visibility: var(--rec-decor-visibility, visible);
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.rec-decor::before {
  content: "REC";
  color: var(--accent-color, #FF0070);
  line-height: 24px;
}

.rec-decor::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #FF0070);
  background: var(--accent-color, #FF0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  padding: 2px 13px;
  background-color: transparent;
  color: var(--secondary-color, #FF0070);
  font-family: IBM Plex Mono, monospace;
  text-transform: lowercase;
  font-size: 18px;
  line-height: 18px;
  border: 1px solid transparent;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover  {
 border-color: var(--secondary-color-o-40, #ff007040);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__title {
  color: var(--brand-color,#DB00FF);
  font-family: IBM Plex Mono, monospace;
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.shadow-decor {
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

.title-decor {
  color: var(--highlight-color, #000028);
  background: var(--accent-color, #FF0070);
}

.header__paragraph {
  margin-block: 55px;
  color: var(--highlight-color, #000028);
  background: var(--accent-color, #FF0070);
  font-family: IBM Plex Mono, monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section-advice__title {
  margin-block-end: 20px;
}

.section-images {
  gap: 10px;
}

.title {
  color: var(--secondary-color,#FF0070);
  font-family: IBM Plex Mono, monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.section-list {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.article__title {
  color: var(--highlight-color,#000028);
  font-family: IBM Plex Mono, monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.article__content {
  color:var(--text-color,#F1B2CE);
  font-family: IBM Plex Mono, monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.article__title-advice { 
  color: var(--highlight-color,#000028);
  font-family: IBM Plex Mono, monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.menu-link {
  color: var(--text-color,#F1B2CE);
  text-decoration: none;
}

.menu-link:hover {
  border-bottom: 1px solid var(--text-color, #F1B2CE);
}

.menu-link:focus {
  outline: 0;
}

.menu-link:focus-visible {
  outline: 1px solid ;
}

.gallery-list {
  display: grid;
  gap: 10px;
}

.gallery-list_image {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  place-items: center;
}

@media (width >= 768px) {
  .main {
    gap: 80px;
    padding: 60px 20px; 
  }

  .header {
    padding-inline-start: 0;
  }

  .header__theme-menu {
    margin-block-start: 170px;
    margin-block-end: 70px;
  }

  .header__title {
    font-size: 120px;
  }

  .header__paragraph {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .rec-decor {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .section-what-list {
    grid-column-start: span 2;
  }

  .section-advice-list {
    grid-column-start: 2;
  }

  .gallery-list_item:first-child,
  .gallery-list_item:last-child {
    grid-column-start: span 2;
  }

  .gallery-list_item:nth-child(2),
  .gallery-list_item:nth-child(3) {
    grid-row-start: span 2;
  }

  .section-images {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .gallery-list {
    grid-template-columns: repeat(3,1fr);
    gap:20px;
  }
}

@media (width >= 1024px) {
  .header__title {
    font-size: 157px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 215px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section {
    column-gap: 30px;
  }

  .section-what-list {
    grid-template-columns: repeat(3,1fr);
  }
}

